<form class="container">
    <div class="form-group">
        <label for="title">Title of the Blog</label>
        <input type="email" class="form-control" id="title" placeholder="Enter email">
    </div>
    <div class="form-group">
        <label for="content">Write the content of the Blog</label>
        <input type="password" class="form-control" id="content" placeholder="Password">
    </div>
    <button type="submit" (click)="addBlog(title,content)" class="btn btn-primary">Submit</button>
</form>
<!-- <p>add-blog works!</p>
<router-outlet></router-outlet> -->