<form class="container">
    <div class="form-group">
        <label for="title">Title of the Blog</label>
        <input class="form-control" id="title" formControlName="title" [formControl]="BlogTitle" placeholder="Enter Title">
    </div>
    <div class="form-group">
        <label for="content">Write the content of the Blog</label>
        <input class="form-control" id="content" formControlName="content" [formControl]="BlogContent" placeholder="Your Blog here">
    </div>
    <button type="submit" class="btn btn-primary" (click)="click()">Submit</button> &nbsp;&nbsp;
    <button type="reset" class="btn btn-primary" (click)="remove()" *ngIf="!RemoveBlog">Remove Blog</button>

</form>
<!-- <p>add-blog works!</p>
<router-outlet></router-outlet> -->